@tailwind base;
@tailwind components;
@tailwind utilities;


.MuiDataGrid-columnHeaderTitle {
    font-family: __vazir_f0d1a5;
    font-size: 0.8rem;
}

.MuiDataGrid-menuList {
    direction: ltr;
}

/* .___swiper-buttons {
    display: none;
    opacity: 0;
}

.___swiper-container:hover .___swiper-buttons {
    display: flex;
    opacity: 1;
    transition: opacity 0.4s linear 0s;
} */