@tailwind base;
@tailwind components;
@tailwind utilities;


.MuiDataGrid-columnHeaderTitle {
    font-family: __vazir_f0d1a5;
    font-size: 0.8rem;
}

.MuiDataGrid-menuList {
    direction: ltr;
}

.swiper-pagination-bullet {
    width: 13px !important;
    height: 7px !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
    width: 22px !important;
}